body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
}

.error {
  color: #f05305;
}

/* DONE: Fix popup showing up behind markers/pins; look into z-index;
 * resolution below; mapboxgl-marker and mapboxgl-popup already have
 * 'position' added to them - this allows z-index to work
 */

.mapboxgl-marker {
  z-index: 1;
}

.mapboxgl-popup {
  z-index: 2;
}

.marker-existing {
  stroke: #f8c102;
}

.marker-added {
  stroke: #ff7533;
}

.popup {
  width: 30vw;
  padding: 0.2rem;
}

.popup img {
  height: 200px;
  width: auto;
  text-align: center;
  margin: 1rem auto;
  display: block;
}

.entry-form label, 
.entry-form input, 
.entry-form textarea, 
.entry-form button {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
